body{
    margin:0;
   
    background-repeat: no-repeat;
   background-position: center;
   /* background-size:cover; */


}
#clock-container{
    
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100;
    margin-top: 350px;
}
#clock{
    font-size: 3.5em;
    font-weight: 600;
    backdrop-filter: blur(10px);
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
}